---
import Layout from '../layouts/Layout.astro';
import Course from '../components/Course.astro'
import Header from '../components/Header.astro'
---

<Layout title="Home">
<Header/>	
<div style="margin-top:90px">
<Course/>  
</div>	

</Layout>

<style>

   body{
    background-color: rgb(252, 252, 252);
   }
</style>