<div class="card">
<div class="box">
    <i class="fa fa-microphone"></i>
    <h2>Title</h2>
</div>
<div class="arr">Icon</div>
</div>

<style>
    .card{
        width:100%;
        height: auto;
        padding: 20px 30px;
        display:flex;
        justify-content:space-between;
        align-items:center;
    }

    .box{
        display:flex;
        justify-content:center;
        align-items:center;
    }

    .arr{
     border: 1px solid blue;
     border-radius: 50%;
    }
</style>